* {
  margin: 0;
  padding: 0;
}
body {
  /*background: url(../img/background1.jpg) no-repeat center center fixed; */
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}

/* Create Sections. */
.section {
  width: 100%;
  position: relative;
}

/* Navigation Bar. */
#wrapper {
  width:100%;
  margin:0 auto;
  list-style:none;
  position: fixed;
  z-index: 9999;
}
#main-nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: rgba(0,0,0, 1);
  float: right;
}
#name {
  float: left;
  padding-top:2px;
  padding-bottom: 2px;
  font-family: Sacramento;
  font-size: 2.75em;
  list-style: none;
  padding-left: 30px;
  padding-right: 90px;
  color: rgba(255, 66, 119, 0.75);
  text-shadow: 0 1px 1px #000;
}
#main-nav a {
  color: #000;
  display: block;
  padding: 20px;
  position: relative;
  width: 125px;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
  color: rgba(0,0,0, 0.75);
  font-family: Dosis;
}
#main-nav a:first-child {
  border: none;
}
#main-nav a:hover {
  background: rgba(255,255,255, 0.1);
  color:white;
  text-shadow:none;
}
#main-nav ul li a.active-page{
  background: rgba(255,255,255,.3);
  color:rgba(255, 66, 119, 0.85);
  text-shadow:none;
}
#main-nav ul {
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
}
#main-nav ul li {
  border-left: 1px outset;
  border-color: rgba(0,0,0, 0.20);
  float: left;
}
#main-nav ul li a {
  color: #000;
  display: block;
  padding: 20px;
  position: relative;
  width: 125px;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  color: rgba(255, 66, 119, 0.85);
}

/* Card Navigation Bar. */
div.bar {
  margin-top: 68.4px;
  height: 100%;
  width:20.7%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  float: left;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  overflow-x: hidden; /* Disable horizontal scroll */
  /*padding-top: 60px;  Place content 60px from the top */
}

/* Buttons in NavBar. */
div.bar button {
  display: block;
  background-color: inherit;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

div.bar button:hover {
  background-color: #ddd;
}

div.bar button.active {
  background-color: #fff; /*ccc*/
}

/* Translation Cards. */
.card {
  margin-top: 68.4px;
  height: 100%;
  width: 79.3%;
  color: white;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  float: right;
  font-family: Nunito;  
  color:black;   
}

.transl {
  margin: 5% 15% auto 15%;
}